<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div>
      <h1>Sign Up Page</h1>
    </div>

    <form action="/student" method="post">
      <div>
        <label for="">First Name</label>
        <input type="text" name="student_firstName" />
      </div>
      <div>
        <label for="">Last Name</label>
        <input type="text" name="student_lastName" />
      </div>
      <div>
        <label for="">Email Address</label>
        <input type="email" name="student_email" />
      </div>

      <div>
        <label for="">Password</label>
        <input type="password" name="student_password" />
      </div>

      <div>
        <button type="submit">Register</button>
      </div>
    </form>
  </body>
</html>
